.bear:hover #left-ear {
  transform: translate(0, -10px);
  transition: all .3s ease-in-out;
}

.bear:hover #right-ear {
  transform: translate(0, -10px);
  transition: all .3s ease-in-out;
}

.bear #left-eye {
  transform: translateX(-10px);
  animation: eyes 3s ease infinite alternate;
}

.bear #right-eye {
  transform: translateX(-10px);
  animation: eyes 3s ease infinite alternate;
}

@keyframes eyes {

  0% {
    transform: translateX(-10px);
  }

  100% {
    transform: translateX(10px);
  }
}
